.results {
	background: grey;
	color: white;
	max-width: 360px;
	width: 100%;
	margin: auto;

	.results__header {
	    background: white;
	    color: lightskyblue;
		padding: .33em;
		text-align: center;
		font-size: 1.67em;
	}

	.results__body {
		text-align: center;
		
	}
}