@import "_constants.scss";

$transition-length: .5s;

.flat-select-container {
	padding: .3rem;
	display: flex;
	flex-direction: column-reverse;
	cursor: pointer;

	.flat-select {
		background: transparent;
		text-transform: uppercase;
		border: 0;
		border-bottom: 0.15rem solid $default;
		transition: border $transition-length ease;
		color: white;
		width: 100%;
		padding: .15rem;
		outline: none;

		&:focus {
			border-bottom: .15rem solid $primary;
		}

		&:focus + .flat-select-label {
			color: $primary;
		}

		& > option {
			background: $default;
			color: $primary;
		}
	}

	.flat-select-label {
		color: $default;
	    text-transform: uppercase;
	    font-family: sans-serif;
	    font-weight: 500;
	    font-size: 66.7%;
	    transition: color $transition-length ease;
	}
}